.fade-in-scale-up-enter {
    opacity: 0;
    transform: scale(0.75);
    transform-origin: left top;
}

.fade-in-scale-up-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-in-scale-up-enter-done {
    display: block;
}

.fade-in-scale-up-exit {
    opacity: 1;
    transform: scale(1);
    transform-origin: left top;
}

.fade-in-scale-up-exit-active {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-in-scale-up-exit-done {
    display: none;
}